@charset "UTF-8";

.tree-card-list {
    flex: 0 0 300px;
    height: 100%;
    width: 300px;

    .operate-btns {
        display: none;
    }

  .tree-card-item {
        &.selected {
            background-color: #d5ebfc;
        }

        &:hover {
            background-color: #d5ebfc;

            .operate-btns {
                display: inline-block;
            }
        }
    }

    .api-item-list {
        padding-left: 10px;
    }

    .api-item {
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: #666;
        cursor: pointer;
        padding: 0 10px;
        overflow: hidden;

        
        &.selected {
            background-color: #f6f6f6;
        }

        &:hover {
            background-color: #f6f6f6;

            .operate-btns {
                display: inline-block;
            }
        }
    }

  .container-block {
      margin-left: 0;
  }
}
