.interface-page {
    display: flex;
    flex-direction: row;

    .detail-container {
        background-color: white;
        border-radius: 6px;
        flex: 1;
        margin-left: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .get-tag {
        background: #cfefdf
    }

    .post-tag {
        background: #d2eafb
    }

    .delete-tag {
        background: #fcdbd9
    }

    .patch-tag {
        background: #fff3cf
    }

    .put-tag {
        background: #fff3cf
    }

    .option-tag {
        background: #ffa178
    }

    .head-tag {
        background: #e5e5e5
    }

    .connect-tag {
        background: #a7a7a7
    }
}

.overlay-form-container {
    background-color: white;
    border-radius: 4px;
    padding: 0 20px;

    .form-item {
        align-items: center;
        display: flex;
        padding: 10px 0;
    }
}
